[user]
    name = Commander23
    email = luhubert1210@gmail.com

[core]
    editor = nano
    autocrlf = input
    excludesfile = ~/.config/git/ignore

[init]
    defaultbranch=main

[color]
    ui = auto

[credential]
    helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
